<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for i in detail %}
            {{i.label}} &nbsp; {{i}}<br>{{i.errors}}<br>
            {% endfor %}
            <input type="submit" value="save"><br>
            <br>
            <button>
                <a href="{% url 'adding-room' %}">Back</a>
            </button>
            <br><br>
            <button>
                <a href="{% url 'seller-home' %}">Home</a>
            </button>
            {% if messages %}
                {% for i in messages %}
                    {{i}}
                {% endfor %}
            {% endif %}
            
        </form>
    
</body>
</html>